
header.head {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ff0900;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}


img.avatar {
  margin-top: 150px;
  height: 400px;
  display: flex;
  

}

h2 {
  margin-top: -25px;
  color: white;
}

@media only screen and (min-width: 1024px) {
  header.head {
    width: 30%;
    height: 440px;
    float: left;
    margin-top: 250px;
    margin-left: 75px;
  }

  img.avatar {
    padding: 30px;
    height: 350px;
    margin-bottom: -20px;
  }

  h2 {
    margin-bottom: 180px;
    
  }
}