

.container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f4f1ec;
  margin-top: 25px;
  
}


.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


label {
  font-weight: 600;
}


textarea {
  border: none;
  outline: none;
  resize: none;
  display: flex;
  width: 90vw;
  height: 50px;
  background-color: #f4f1ec;
  border-bottom: solid;
  font-size: 20px;
  font-weight: 600;
}


main div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}


button {
  background-color: #4056A1;
  color: white;
}


div.error {
  display: none;
  font-size: larger;
  font-family: "Source Sans 3", sans-serif;
  color: red;
  border: solid red 0.2em;
  margin-bottom: 2em;
  width: 90vw;
  padding: 0.5em;
}


@media only screen and (min-width: 1024px) {
  .container {
    width: 55%;
    float: right;
    margin-top: 230px;
  }

  textarea {
    width: 50vw;
  }

  div.error {
    width: 50vw;
  }
}